body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.date-input-container {
  position: relative;
}

.date-input {
  width: calc(100% - 75px); /* Adjust the width as needed */
}

.date-picker-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
